body {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
    grid-auto-rows: minmax(600px, auto);
    font-family: "Rubik", sans-serif;
}

.nested, .nestedTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nestedTwo {
    padding: 20px 200px;  
}

.allProj {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: center; */
    grid-gap: 2em;
    padding: 60px 10px;
}

.allProj > div {
    background-color: #7367b8;
    min-height: 240px;
}


.wrapper > div {
    background: #25242b;
    padding: 90px 200px;
    color: white;
    clip-path: polygon(0 0,100% 4%,100% 96%,0 100%);
}

.wrapper > div:nth-child(3) {
    padding: 90px 0;
}

.wrapper > div:nth-child(even) {
    background: #ffffff;
    color: black;
}

.nested > div {
    width: 600px;
    padding: 0 15px 0 15px; 
}

.nested > div:first-child  {
    width: 280px;
} 

.nestedTwo > div  {
    width: 280px;
    padding: 0 15px 0 15px; 
} 

.nestedTwo > div:first-child {
    width: 600px;
}

.projImg {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.projImg a {
    margin-top: 20px;
}


h3 {
    font-size: 24px;
}

h1 {
    font-size: 36px;
}

h5 {
    font-size: 14;
}

h4, h5, h6 {
    margin: 10px 0 10px 0;
}

h1, h2, h3 {
    margin: 20px 0 10px 0;
}

.header {
    text-align: center;
}

.header h1 {
    margin-bottom: 25px;
}

.header h5 {
    margin-bottom: 60px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 240px;
    margin: 0 auto;
}

.icon {
    width: 86px;
    height: 58px;
}

.icon:hover {
    width: 86px;
    height: 58px;
    background: white;    
}

.icon img {
    padding-top: 15%;
}

p {
    line-height: 24px;
}



