body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  text-align: justify;
  background: #0475ca;
  color: #383838;
}

h1, h3, h4, h5 {
  color: black;
}

.wrapper > div {
  background: #edeced;
  padding: 6% 0px;
  clip-path: polygon(0 0,100% 1%,100% 96%,0 100%);
}

.wrapper > div:nth-child(even) {
  background: #0475ca;
}

.section1, .section2 {
  display: grid;
  grid-template-columns: 1fr;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  width: 84%;
  margin: 50px auto;
}

.projects > div {
  position: relative;
  transition: all 0.5s cubic-bezier(0,0,0.25,1);
  transform-style: preserve-3d;
  height: 18em;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.container:hover {
transform: scale(1.1,1.1);
}

.section2 > div, .section1 > div:nth-child(2) {
  justify-self: center;
}

.section1 > div, .section2 > div:nth-child(2) {
  justify-self: center;
  max-width: 75%;
} 

#showcase h1, #showcase h5, .contact p, h1.title, h3.title {
  margin-bottom: 25px;
}

h1{
  margin-top: 15px;
}

.portfolio_pic {
  width: 20%;
  border-radius: 15px;
}

i {
  font-size: 35px;
  color: black;
}

h1, .description, #showcase, .contact{
  text-align: center;
}

.icon img {
  padding-top: 15%;
}

p {
  line-height: 24px;
}

.section3 > div {
  width: 80%;
  margin: 0 auto;
}


.icons img {
  width: 40px;
}

.icons img:hover {
  text-decoration: none; 
  transform: scale(1.1,1.1);
}

.container {
  position: relative;
  border: #edeced 4px solid;
  background-repeat:no-repeat;
  background-size:cover;
}

h2 {
  color: white;
  text-align: center;
  padding-top: 25%;
}

.appImage {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  top: 0;
  left: 0;
}

.container:hover .overlay {
  opacity: .90;
}


.text {
  text-align: center;
  color: #383838;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text h3 {
  margin-top: 0px 0 5px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
}

.text p {
  font-style: italic;
  font-size: 11px;
  margin-top: 0px 0 5px;
  padding: 10px 20px 20px;
  line-height: 22px;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  margin-bottom: 0;
}

.links, .links a {
  color: #0475ca;
}

.section2 img, .section1 img {
  width: 350px;
  height: 550px;
  display: block;
  margin: 15px auto;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;    
}

@media only screen and (min-width: 768px) {
  #showcase h5, .contact p {
    margin-bottom: 45px;
  }

  .section1, .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    width: 94%;
  }

  .section1 > div{
    max-width: 65%;
  } 
  
  .section2 > div:nth-child(2) {
    max-width: 65%;
  } 

@media only screen and (min-width: 980px) {
  i {
    font-size: 50px;
  }
  
  .section1 > div{
    max-width: 60%;
  } 
  
  .section2 > div:nth-child(2) {
    max-width: 60%;
  } 
  
  .section1, .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .projects {
    padding: 2% 2% 0 2%;
  }

  .wrapper > div {
    clip-path: polygon(0 0,100% 4%,100% 96%,0 100%);
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }
}